body {
  background-image: url("sun-moon-lake.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1.city-name {
  color: #b497c0;
  font-size: 50px;
}
.temp {
  color: #b497c0;
  font-size: 50px;
}
h1,
h3 {
  text-align: center;
  position: relative;
  font-family: "Texturina", serif;
  color: white;
  top: -40px;
}
.current-weather-condition {
  font-size: 40px;
}

.high-and-low em {
  font-size: 40px;
  position: relative;
  bottom: 30px;
}
.search {
  position: relative;
  right: 55px;
  margin: 5px 5px;
  width: 200px;
  border-width: 3px;
  border-color: #d8a09f;
  padding: 5px 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.go {
  border-radius: 50%;
  width: 50px;
  height: 45px;
  position: relative;
  left: 230px;
  bottom: 60px;
  margin: 0;
  right: 5px;
  top: -52px;
  margin: 5px 5px;
  padding: 5px 5px;
  border-color: #d8a09f;
  text-align: center;
  border-width: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
#date {
  font-family: "Texturina", serif;
  color: white;
  list-style-type: none;
  position: relative;
  bottom: 85px;
  right: 18px;
  font-size: 22px;
}
#current-location-button {
  position: relative;
  left: 300px;
  bottom: 90px;
  border-width: 3px;
}
#celsius-link {
  text-decoration: none;
  color: #b497c0;
}
#fahrenheit-link {
  text-decoration: none;
  color:  #b497c0;
}
.col {
  position: relative;
  text-align: center;
  font-family: "Texturina", serif;
  color: white;
  font-size: 18px;
  bottom: 15px;
}
#icon {
 position: relative; 
 bottom: 8px; 
}
#temperature {
  position: relative;
  bottom: 30px;
}
.sup {
  position: relative;
  top: -45px;
  font-size: 22px;
}
.gitHub {
  text-decoration: none;
  color: #EFDFFC;
}
.gitHub:hover {
  text-decoration: underline;
}
.linkedIn {
 text-decoration: none;
  color: #EFDFFC;;
}
.linkedIn:hover {
  text-decoration: underline;
}
footer {
  text-align: center;
  color: white;
}
